/* body{
    background-image:url("supermarketBackground.png");
    background-size:contain;                      
    background-repeat: no-repeat;
    background-position: center;
} */

.questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questionText{
    font-size: 10px;
    border-radius: 30%;
    background-color: antiquewhite;
    position:relative;
    padding:0.5%;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .speechBubbleTail{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid antiquewhite;
    border-bottom: 50px solid transparent;
  } */

/*SpeechBubble*/

.bubble {
	position: relative;
	background-color: antiquewhite;
	border-radius: .4em;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-top-color: antiquewhite;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.312em;
	margin-bottom: -0.625em;
}